{% extends 'layout.html.twig' %}

{% block topMenu %}
    {% include 'partials/user_top_menu.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ movie.title }}</h1>
    <h3>{{ movie.imdbId }}</h3>
    <ul>
        {% for row in movie.genres %}
            <li>
                <a href="{{ path('movie_genre_list', {genreId: row.id}) }}">{{ row.genre }}</a>
            </li>
        {% endfor %}
    </ul>
    <h4>{{ 'persons' | trans }}</h4>
    <ul>
    {% for row in movie.refs %}
        <li>
            <a href="{{ path('permalink', {link: row.person.permalink}) }}">{{ row.person.name }}&nbsp;({{ row.job.job }})&nbsp;{{ row.role }}</a>
        </li>
    {% endfor %}
    </ul>
    
{% endblock %}
