{% extends 'layout.html.twig' %}

{% block topMenu %}
    {% include 'partials/user_top_menu.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ movie.title }}</h1>
    <h3>{{ movie.imdbId }}</h3>
    
    {% for row in movie.genres %}
        <span>{{ row.genre }}<span><br>
    {% endfor %}
    
    <h4>{{ 'persons' | trans }}</h4>
    {% for row in movie.refs %}
        <span>{{ row.person.name }}&nbsp;({{ row.job.job }})&nbsp;<span><span>{{ row.role }}</span><br>
    {% endfor %}

    
{% endblock %}
