{% extends 'layout.html.twig' %}

{% block topMenu %}
    {% include 'partials/user_top_menu.html.twig' %}
{% endblock %}

{% block content %}
    {% if not person.photo is empty %}
        {{ 'person.photo' | trans }}
    {% endif %}
    <h1>{{ person.name }}</h1>
    <h3>IMDB</h3>
    <ul>
        {% for imdb in person.imdbIds %}
            <li>
                {{ imdb.imdbId }}
            </li>
        {% endfor %}
    </ul>
    <h4>{{ 'jobs' | trans }}</h4>
    <ul>
        {% for job in person.jobs %}
            <li>
                <a href="{{ path('person_list', {jobId: job.id}) }}">{{ job.job }}</a>
            </li>
        {% endfor %}
    </ul>
    {% if person.refs|length > 10 %}
        <h4>{{ 'movies' | trans }}</h4>
        <ul>
        {% for row in person.refs %}
            <li>
                <a href="{{ path('movie_view', {id: row.movie.id}) }}">{{ row.movie.year }}-{{ row.movie.title }}&nbsp;({{ row.job.job }})&nbsp;{{ row.role }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
